.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
}

.note-preview {
  flex-basis: 32%;
  min-height: 120px;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  height: fit-content;
  padding: 1rem;
}

.note-preview:hover {
  outline: 2px solid #333;
}

/* Note edit */

.note-edit {
  background-color: rgba(68, 68, 68, 0.6);
  flex-basis: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
}

.note-edit .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.note-edit button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Note-Btns */
.note-btns {
}

.pallete {
  width: 100%;

  position: relative;
}

.color-picker {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
  transform: translateY(150%);
}

.color {
  border: 1px solid #333;
  border-radius: 50%;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.color:hover {
  outline: 2px solid lightblue;
}
