/* MAIL APP */

.mail-app {
  font-size: 1.2rem;
  font-family: lato;
}

.mail-list table {
  width: 100%;
  border-collapse: collapse;
}

.mail-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
  background-color: #ff980f;
}

.mail-filter button {
  background-color: #ffae42;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  height: 3rem;
}

.mail-filter button:hover {
  background-color: #ff980f;
}

.mail-filter .wrap > * {
  margin: 0.5rem;
}

.mail-filter input,
.mail-filter select {
  width: 25rem;
  height: 2.8rem;
  border: none;
  background-color: #ffae42;
}

.mail-filter select {
  width: 5rem;
}

.mail-filter input:focus {
  border: none;
  outline: none;
}
