/* MAIL APP */
.mail-layout {
  display: flex;
  width: 100%;
}

.mail-list {
  width: 50rem;
}

.mail-list table {
  width: 100%;
}

.mail-app {
  font-family: roboto;
  font-size: 1.2rem;
}

.mail-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
  flex-direction: column;
}

.mail-filter input {
  width: 35rem;
  height: 2.8rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 1px 0px 15px -3px #000000;
}

.mail-filter select {
  width: 5rem;
  height: 2rem;
  box-shadow: 1px 0px 15px -3px #000000;
  margin-top: 0.5rem;
  border: none;
}
