/* LIST */

.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* FLEX */

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Buttons */

.btn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  text-transform: uppercase;
  border-radius: 1rem;
}

.icon {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
