.main-layout {
  max-width: 1080px;
  margin: 0 auto;
}

.main-app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 8fr 80px;
}

/* .main-mail-layout {
  max-width: 1080px;
  margin: 0 auto;
} */
