.about-page {
  background-color: rgb(192, 192, 192);
  text-align: center;
  font-family: roboto;
}

.about-page h1 {
  font-size: 2rem;
  color: white;
  padding: 1rem;
}

.team {
}

.team-member {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-member img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}
