.aside-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    order: -1;
    flex-basis: 20%;
  }
  
  .aside-filter .active {
    background-color: #e8eaed;
    width: 15rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
  }
  
  .aside-filter li {
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .aside-filter .compose-btn {
    border: none;
    padding: 0.5rem 1rem;
    align-self: flex-start;
    border-radius: 1rem;
    box-shadow: 1px 0px 15px -3px #000000;
    background-color: white;
    cursor: pointer;
  }
  
  .aside-filter .compose-btn:hover {
    text-align: left;
    border-radius: 1rem;
    box-shadow: 1px 0px 20px -3px #000000;
  }
  
  .aside-filter .activeInbox {
    background-color: #fce8e6;
    color: #d93025;
    width: 15rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
  }