.app-header {
  background-color: rgb(37, 37, 37);
  box-shadow: -1px 0 0 0 gray, inset 0px -4px 0 0 black;
}

.app-header section:first-child {
  align-items: center;
  height: 100%;
}

.app-header .logo {
  font-family: roboto;
  font-size: 2rem;
  color: rgb(187, 187, 187);
  margin-top: 0.5rem;
}

.app-header a,
.app-header a:active {
  color: rgb(187, 187, 187);
  text-decoration: none;
  font-family: roboto;
}

.app-header .router-link-exact-active {
  color: rgb(250, 250, 250);
}

.app-header a:hover {
  color: rgb(250, 250, 250);
}

.nav-burger {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
