.new-mail {
  padding: 1rem;
  position: fixed;
  bottom: 10vh;
  left: 10vh;
  box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.6);
  
}

.new-mail form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30rem;
  height: 30rem;
}

.new-mail textarea {
  resize: none;
  width: 29rem;
  height: 29rem;
}

.new-mail form input {
  width: 29rem;
}

.new-mail form button {
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  background-color: #1a73e8;
  cursor: pointer;
  border: none;
  border: 0.5px solid none;
  color: white;
}

.new-mail .close {
  position: absolute;
  cursor: pointer;
  top: 1%;
  right: 1%;
}
