.user-msg {
  position: fixed;
  top: 10%;
  right: 5%;
  border-radius: 1rem;
  color: aliceblue;
  padding: 0.6rem 4rem;
  font-size: 1.3rem;
}

.success,
.add {
  background-color: rgb(155, 155, 155);
}

.remove {
  background-color: tomato;
}

.error {
  background-color: red;
}
