.note-app {
  padding: 2rem 0;
}

.notes,
.pinned-notes {
  margin: 0 auto;
}

.note-preview {
  display: inline-block;
  page-break-inside: avoid;
  break-inside: avoid;
  min-height: 120px;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.note-preview h2 {
  font-family: Roboto;
}

.note-preview:hover {
  box-shadow: 1px 4px 15px 4px #575757;
}

/* Note edit */

.note-edit {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  width: 100%;
}

.note-edit .btns {
  display: flex;
  opacity: 0;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0.5rem;
  width: calc(100% + 2rem);
  transition: opacity 0.2s ease-in;
}

.note-preview:hover .btns {
  background-color: rgba(68, 68, 68, 0.6);
  opacity: 1;
  pointer-events: all;
}

.note-edit .btns img {
  width: 24px;
}

.note-edit button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Note-Btns */

.pallete {
  width: 100%;
  position: relative;
}

.color-picker {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
  transform: translateY(150%);
}

.color {
  border: 1px solid #333;
  border-radius: 50%;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.color:hover {
  outline: 2px solid lightblue;
}

/* Note Add */

.note-add {
  display: flex;
  width: 70%;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  border: 1px solid #333;
}

.note-add-layout {
  position: relative;
}

.note-add input {
  background-color: transparent;
  padding: 0.5rem;
  width: 20rem;
  margin: 0.4rem 0;
  border: none;
}

.note-add ::placeholder {
  color: white;
  font-weight: 600;
}

.note-add input:first-child {
  margin-top: 0.4rem;
}

.note-add input:focus-within {
  outline: none;
  color: white;
  font-weight: 600;
}

.note-add nav button:not(.icon) {
  padding: 0.5rem;
  outline: 1px solid #333;
  color: white;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.25rem, 1rem;
}

/* Note filter */

.note-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-filter input,
.note-filter select {
  padding: 0.5rem;
}

/* Input wrap */

.input-wrap {
  border-radius: 0.5rem;
  display: flex;
  height: 3rem;
}

.btns {
  align-self: center;
}

.note-add nav {
  display: flex;
}

.note-add button img {
  width: 1.5rem;
  height: 1.5rem;
}

.input-wrap button:hover {
  outline: none;
}

/* Note todos */

.done {
  text-decoration: line-through;
}

/* Note Modal */

.note-modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

.note-edit.modal-btns .btns {
  opacity: 1;
  pointer-events: all;
  justify-content: flex-start;
  padding: 0;
}

.note-modal .close {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.note-modal .btn-section {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
