.notes,
.pinned-notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
}

.note-preview {
  min-height: 120px;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  height: fit-content;
  padding: 1rem;
}

.note-preview:hover {
  outline: 2px solid #333;
}

/* Note edit */

.note-edit {
  background-color: rgba(68, 68, 68, 0.6);
  flex-basis: 60px;
  display: flex;
  align-items: center;
  width: 100%;

  padding: 0.2rem;
}

.note-edit .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.note-edit button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Note-Btns */
.note-btns {
}

.pallete {
  width: 100%;
  position: relative;
}

.color-picker {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
  transform: translateY(150%);
}

.color {
  border: 1px solid #333;
  border-radius: 50%;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.color:hover {
  outline: 2px solid lightblue;
}

/* Note Add */

.note-add {
  outline: 2px solid #333;
  display: flex;
  width: 60%;
  border-radius: 0.5rem;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.note-add input {
  padding: 0.5rem;
  width: 20rem;
  margin: 0.4rem 0;
  border: none;
}

.note-add input:first-child {
  margin-top: 0.4rem;
}

.note-add input:focus-within {
  outline: none;
}

.note-add button image {
}

.note-add nav button {
  padding: 0.5rem;
  outline: 1px solid #333;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.25rem, 1rem;
}

/* Input wrap */

.input-wrap {
  border-radius: 0.5rem;
  display: flex;
  height: 3rem;
}
.input-wrap button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.input-wrap button:hover {
  outline: none;
}
