.note-app {
  padding-top: 2rem;
}

.notes,
.pinned-notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
}

.note-preview {
  min-height: 120px;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.note-preview h2 {
  font-family: Roboto;
}

.note-preview:hover {
  outline: 2px solid #333;
}

/* Note edit */

.note-edit {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  width: 100%;
}

.note-edit .btns {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0.5rem;
  width: calc(100% + 2rem);
}

.note-preview:hover .btns {
  background-color: rgba(68, 68, 68, 0.6);
  display: flex;
}

.note-preview:hover .note-edit {
}

.note-edit .btns img {
  width: 24px;
}

.note-edit button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Note-Btns */

.pallete {
  width: 100%;
  position: relative;
}

.color-picker {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
  transform: translateY(150%);
}

.color {
  border: 1px solid #333;
  border-radius: 50%;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.color:hover {
  outline: 2px solid lightblue;
}

/* Note Add */

.note-add {
  display: flex;
  border-radius: 0.5rem;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  border: 1px solid #333;
}

.note-add input {
  padding: 0.5rem;
  width: 20rem;
  margin: 0.4rem 0;
  border: none;
}

.note-add input:first-child {
  margin-top: 0.4rem;
}

.note-add input:focus-within {
  outline: none;
}

.note-add nav button {
  padding: 0.5rem;
  outline: 1px solid #333;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.25rem, 1rem;
}

/* Input wrap */

.input-wrap {
  border-radius: 0.5rem;
  display: flex;
  height: 3rem;
}

.input-wrap .btns {
  align-self: center;
}

.note-add nav {
  display: flex;
}

.btns button,
nav .btns button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.note-add button img {
  width: 1.5rem;
  height: 1.5rem;
}
.input-wrap button:hover {
  outline: none;
}
