
.new-mail {
  padding: 1rem;
  position: fixed;
  bottom: 10vh;
  left: 10vh;
  box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.new-mail.compose-mail {
  position: static;
  margin: auto;
}

.new-mail.compose-mail h1 {
  padding: 0.5rem 0;
}

.new-mail form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30rem;
  height: 30rem;
}

.new-mail textarea {
  resize: none;
  width: 29rem;
  height: 29rem;
}

.new-mail form input {
  width: 29rem;
}

.new-mail form button {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.06rem;
  background-color: #1a73e8;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.5px solid #333;
  color: white;
  margin: 0.5rem 0;
}

.new-mail .close {
  position: absolute;
  cursor: pointer;
  top: 1%;
  right: 1%;
}
