.new-mail {
  position: fixed;
  padding: 1rem;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 60%;
  height: 30rem;
  box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.6);
  z-index: 10;
  transform: translate(-50%, -50%);
}

.new-mail.compose-mail h1 {
  padding: 0.5rem 0;
}

.new-mail form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.new-mail textarea {
  resize: none;
  width: 90%;
  height: 80%;
}

.new-mail form input {
  width: 90%;
}

.new-mail form button {
  text-transform: capitalize;
  align-self: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.06rem;
  background-color: #1a73e8;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.5px solid #333;
  color: white;
  margin: 0.5rem 0;
}

.new-mail .close {
  position: absolute;
  cursor: pointer;
  top: 1%;
  right: 1%;
}
